.sider {
  .logo {
    height: 40px;
    border-radius: 6px;
    margin: 16px;
  }
  .logo-max {
    background: url('~public/imgs/nav-logo.png') no-repeat left center;
    background-size: contain;
  }
  .logo-min {
    background: url('~public/logo.png') no-repeat left center;
    background-size: contain;
  }
}